<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    LISTA DE TAREAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-progress-bar></ion-progress-bar>
  <ion-item>
    <ion-input placeholder="Agregar Tarea" [(NgModel)]="newTask"></ion-input>
    <ion-button slot="end"(click)="addTask()" color="green")>Agregar</ion-button>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-label>{{task.title}} </ion-label>
      <ion-checkbox [(NgModel)]="task.completed"></ion-checkbox>
      <ion-button color="danger" slot ="end" (click)="deleteTask(task)")>Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>